.Heroj{
	overflow: hidden;
	background-color: #963019;

	border-radius: 3px;
	box-shadow: 0 1px 4px 0px rgba(0,0,0,.05);
	width: 300px;
	height: 150px;
	display: inline-block;
	margin: 0 15px 15px 0px;

}

.Heroj_Ikonica{
	float: left;
	 background-color: #ececec;
}

.Heroj_Profil{
	text-align: left;
	float: left;
	width: 100%;
	cursor: pointer;
	color: #f6f1ed;
	margin-top: 2px;
}
  .selected{
    background-color: green;
  


  }

@media screen and (min-width: 320px) and (max-width: 360px ){
	.Heroj{
		width: 90%;
		margin-left: 15px;
	}
}
@media screen and (min-width: 361px) and (max-width: 480px ){
	.Heroj{
		width: 90%;
		margin-left: 15px;
	}
}
@media screen and (min-width: 481px) and (max-width: 1024px ){
	.Heroj{
		width: 40%;
		margin-left: 15px;
	}
	.Heroj_Profil{
		width: 70%;
		/*padding-top: 40px;*/
	}
}
button{
	background-color: #16174f;
	border-color: #16174f;
	color: white;
	margin-left: 10px;
}